/*
* Copyright (c) 2009 Nokia Corporation and/or its subsidiary(-ies).
* All rights reserved.
* This component and the accompanying materials are made available
* under the terms of the License "Eclipse Public License v1.0"
* which accompanies this distribution, and is available
* at the URL "http://www.eclipse.org/legal/epl-v10.html".
*
* Initial Contributors:
*     Nokia Corporation - initial contribution.
*
* Contributors:
* 
* Description:
*     Local flag definition for DMC
*
*/

#ifndef DMC_CFG
#define DMC_CFG

/* This flag is used by DMC and prevents DMC clients
   to include DMC internal headers. */
MACRO DMC_INTERNAL_INCLUDE

// Used temporary as long as wee need MTC-server for testing
//MACRO USE_MTC_SERVER

#endif DMC_CFG

// End of File
